#quote-box {
  background-color: lightblue;
  width: 500px;
  margin-bottom: 20px;
}

#quote-field {
  text-align: center;
}

#quote-button {
  margin: 10px;
  transform: translateX(150%);
}

canvas {
  border: 2px solid black;
}

body {
  user-select: none;
}
